<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Seeds</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>

    <div class="container">
        <img class="logo" src="./assets/images/logo.png" width="100px" />
        <h2>Confirm Seeds</h2>
        <div class="description">
            Please enter the backup seeds you have saved.
        </div>
        <form method="POST" action="/confirm">
            <ul id="seeds">
                <% for(let i=0; i < 24; i ++) { %>
                    <li>
                        <span><%= i + 1 %></span>
                        <input type="text" value="" name="seed<%= i %>" class="check"/>
                    </li>
                <% } %>
            </ul>
            <input type="submit" value="Create" id="create-btn">
        </form>
    </div>
    <script src="./assets/javascript/script.js"></script>
</body>

</html>