<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>

    <div class="container">
        <img class="logo" src="./assets/images/logo.png" width="100px" />
        <h2>Create an account</h2>
        <div class="description">
            A new seed has been generated and needs to be securely backed up.
            We highly recommend to write down on paper for safe keeping
        </div>
        <ul id="seeds">
            <li>
                <span>1</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>2</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>3</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>4</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>5</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>6</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>7</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>8</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>9</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>10</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>11</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>12</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>13</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>14</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>15</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>16</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>17</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>18</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>19</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>20</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>21</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>22</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>23</span>
                <input type="password" value="password" disabled>
            </li>
            <li>
                <span>24</span>
                <input type="password" value="password" disabled>
            </li>
            <div class="blur"></div>
            <span class="fa fa-eye" id="show"></span>
        </ul>
        <div class="backup">
            <input type="checkbox" name="" id="checkbox">
            <label for="checkbox">I've Made a Backup</label>
        </div>
        <input type="button" value="Next" id="next-btn">
    </div>
    <script src="./assets/javascript/script.js"></script>
</body>

</html>