<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        console.log("<%=password %>")
        console.log("<%=result.display %>")
    </script>
</head>

<body>

    <div class="container">
        <img class="logo" src="./assets/images/logo.png" width="100px" />
        <h2>Dashboard</h2>
        <div class="description">
            This dashboard will provide users with an overview of their accounts, including seed management, address details, and balance information, all while maintaining a user-friendly and secure environment.
        </div>
        <input type="button" value="Create new key" id="next-btn">
    </div>
    <script src="./assets/javascript/script.js"></script>
</body>

</html>