<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <%- include('layout/header') %>
</head>

<body>
    <div class="dashboard-container">
        <header>
            <div class="left">
                <img class="logo" src="./assets/images/logo.png" />
                <!-- <h2>Dashboard</h2> -->
            </div>
            <div class="center">
                account
            </div>
            <div class="right">
                <i class="fa fa-cog"></i>
            </div>
        </header>
        <div class="body">
            Dashboard
        </div>
    </div>
    <script src="./assets/javascript/script.js"></script>
</body>

</html>