<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const socket = io();
            const logContainer = document.getElementById('console-output');

            // Function to handle incoming log messages
            function handleLogMessage(msg) {
                const messageElement = document.createElement('div');
                messageElement.textContent = msg;
                logContainer.prepend(messageElement);
            }

            // Function to handle result of Qwallet call
            function handleResult(msg) {
                const result = JSON.parse(msg);
            }

            // Send command to QWallet
            function callQwallet(command, flag) {
                socket.emit('run', { command, flag });
            }

            // Setup socket event listeners
            socket.on('log', handleLogMessage);
            socket.on('result', handleResult)

            // Setup button click handlers
            $("#login-btn").click(() => {
                const command = $("#password").val();
                callQwallet(command, 'login');
            });
        });
    </script>
</head>

<body>

    <div class="container">
        <img class="logo" src="./assets/images/logo.png" width="100px" />
        <h2>Login</h2>
        <div class="description">
            Enter your password to access your account.
            <br />
            Each password corresponds to a unique user account
        </div>
        <form id="login-form" action="javascript: void(0)">
            <input type="password" id="password" placeholder="Password" required>
            <span class="fa fa-eye"></span>
            <input type="button" value="Login" id="login-btn">
        </form>
    </div>
    <script src="./assets/javascript/script.js"></script>
</body>

</html>