<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const socket = io();
            let password = null;

            // Function to handle result of Qwallet call
            function handleResult(msg) {
                const result = JSON.parse(msg.value);
                const flag = msg.flag;
                if (flag == 'login' && password) {
                    if (result.result == 0) {
                        let actionPath = '';
                        if (result.seedpage == 0) {
                            actionPath = '/dashboard';
                        } else if (result.seedpage == 1) {
                            actionPath = '/create';
                        }
                        // Create a form element
                        const form = document.createElement('form');
                        form.method = 'POST';
                        form.action = actionPath;
    
                        // Add password input to form
                        const passwordInput = document.createElement('input');
                        passwordInput.type = 'hidden';
                        passwordInput.name = 'password';
                        passwordInput.value = password;
                        form.appendChild(passwordInput);
    
                        // Add result input to form
                        const resultInput = document.createElement('input');
                        resultInput.type = 'hidden';
                        resultInput.name = 'result';
                        resultInput.value = JSON.stringify(result);
                        form.appendChild(resultInput);
    
                        // Add the form to the body and submit it
                        document.body.appendChild(form);
                        form.submit();
                    }
                }
            }

            // Send command to QWallet
            function callLoginQwallet(_password) {
                password = _password;
                socket.emit('run', { command: `login ${_password}`, flag: 'login' });
            }

            socket.on('result', handleResult)

            // Setup button click handlers
            $("#login-btn").click(() => {
                const _password = $("#password").val();
                callLoginQwallet(_password);
            });
        });
    </script>
</head>

<body>

    <div class="container">
        <img class="logo" src="./assets/images/logo.png" width="100px" />
        <h2>Login</h2>
        <div class="description">
            Enter your password to access your account.
            <br />
            Each password corresponds to a unique user account
        </div>
        <form id="login-form" action="javascript: void(0)">
            <input type="password" id="password" placeholder="Password" required>
            <span class="fa fa-eye"></span>
            <input type="button" value="Login" id="login-btn">
        </form>
    </div>
    <script src="./assets/javascript/script.js"></script>
</body>

</html>